.about{
  margin-bottom: 8px;

  &__title{
    margin-top: 30px;
    text-align: center;
    font-family: var(--font-fam);
    font-size: var(--font-medium);
  }

  &__container-subtitle{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }

  &__subtitle{
    font-family: var(--font-fam2);
    font-size: var(--font-medium);

    &-main{
      text-align: center;
      font-family: var(--font-fam2);
      font-size: 40px;
      margin-top: 22px;
    }
  }

  &__container{
    position: relative;
    display: flex;
    align-items: center;
    height: 650px;
    gap: 95px;
    z-index: 0;
    padding: 0;
    margin: 0;
  }

  &__sota{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    width: 480px;
    height: 480px;
    transition: all 0.4s ease;
    z-index: 0;

    &-img{
      background-color: #14110F;
      transition: transform 0.3s ease;

    }

    &-background-animate{
      width: 650px;
      height: 650px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-items: center;
    }

    &-title{
      position: absolute;
      top: 182px;
      font-family: var(--font-fam);
      font-size: var(--font-big);
      transition: transform 0.3s ease;

    }

    &-subtitle{
      position: absolute;
      top: 274px;
      font-family: var(--font-fam2);
      font-size: var(--font-min);
      transition: transform 0.3s ease;
    }

    &-hover{
      position: absolute;
      display: grid;
      place-items: center;
      pointer-events: none;

      width: 650px;
      height: 650px;
      left: -85px;
      top: -85px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease, visibility 0.5s ease;

      &-list{
        font-size: 20px;
        margin-top:100px;
        font-family: var(--font-fam2);
      }
    }

    &-point{
      font-size: 20px;
      list-style-type: disc;
    }

    &:hover{
      .about__sota{
          &-img{
            transform: scale(1.35);
            z-index: -2;
            overflow: hidden;
          }

          &-title{
            transform: translateY(-117px);
          }

          &-subtitle{
            transform: translateY(-117px);
          }

          &-hover{
            visibility: visible;
            opacity: 1;

            &-list{
              font-size: 20px;
            }
        }
      }
    }
  }
}

.frontend:hover{
  transform: rotate(8.1deg);
}

@keyframes backend {
  from {
    transform: scale(1);
    opacity: 0.5;
  }

  to{
    transform: scale(1.2873);
    opacity: 1;
  }
}

.backend {
  position: absolute;
  width: 87px;
  height: 87px;
  background: #D9D9D9;
  border-radius: 50%;
  filter: blur(30px);
  z-index: -1;
  animation: backend 1s cubic-bezier(1,0, 0.0, 1) infinite alternate;
}

.design {
  rotate: 45deg;
  width: 300px;
  height: 300px;
  border: 20px solid #FFD06A;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-radius: 50%;
  filter: blur(7px);
  animation: spin 3s infinite;
  z-index: -1;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(90deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(270deg);}
  100% { transform: rotate(360deg);}
}

.about__sota.design1:hover .about__sota-img{
  fill: red;
}


.frontend-animate{
  border-radius: 50px;
  background: #D9D9D9;
  filter: blur(30px);
  z-index: -1;
  width: 117px;
  height: 117px;
  animation: rotation 5s infinite;
  transform: translateY(-140px) translateX(-110px);
}

@keyframes rotation {
  0% { transform: translateY(-140px) translateX(-110px);}
  20% {transform: translateY(150px) translateX(0); background-color: #FFAE6B;}
  40% {transform: translateY(-140px) translateX(110px); background-color: #FF7514;}
  60% {transform: translateY(150px) translateX(-110px); background-color: #FDE910;}
  80% {transform: translateY(150px) translateX(110px); background-color: #FFB300;}
  100% {transform: translateY(-140px) translateX(-110px); background: #D9D9D9;}
}
