.cases {
  position: relative;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin-top: 30px;
    font-size: var(--font-medium);
    font-family: var(--font-fam);
  }

  &__cta {
    align-self: center;
    font-size: 16px;
    margin-top: 113px;
    font-family: var(--font-fam);
    position: relative;
    width: 193px;
    height: 100px;

    &-img {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  &__slider{
    position: relative;
    height: 606px;
    margin-top: 130px;
  }

  &__container {
    position: relative;
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 526px);
    justify-content: space-between;
  }

  &__about{
    font-family: var(--font-fam);
    font-size: var(--font-min);
    position: absolute;
    bottom: 30px;
    align-items: start;
    cursor: pointer;
  }
}

.border{
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

@media (max-width: 1919px) {
  .cases{
    &__title{
      font-size: 42px;
    }

    &__about{
      font-size: 18px;
      &:hover{
        color: #ff984d;
        transform: translateY(-2px);
        text-shadow: 0 0 8px rgb(255, 169, 106);
      }
    }
  }

}


