.cases {
  display: flex;
  flex-direction: column;
  &__title {
    text-align: center;
    margin-top: 30px;
    font-size: var(--font-medium);
    font-family: var(--font-fam);
  }

  &__cta {
    align-self: center;
    font-size: 16px;
    margin-top: 113px;
    font-family: var(--font-fam);
    position: relative;
    width: 195px;
    height: 100px;

    &-img {
      position: absolute;
      top: 0px;
      left: 0px
    }
  }

  &__container {
    overflow: hidden;
    margin-top: 130px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 526px);
    grid-template-rows: (606px);
    grid-column-gap: 60px;
    align-items: center;
    justify-content: center;

  }

  &__item {
    position: relative;
    height: 606px;

    &-sota {
      z-index: 10;
      position: relative;
    }

    &-logo {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-design {
      position: absolute;
      left: 3px;
      top: 3px;
      animation: slide-mask 5s linear alternate infinite;
      mask-image: url(../../icons/sota_png.svg);
      mask-repeat: no-repeat;
      opacity: 0.5;
      overflow: hidden;

      &-imgwrap {
        overflow: hidden;
        cursor: grab;

        img {
          display: block;
          user-select: none;
          transition: transform 0.3s ease;
          pointer-events: auto;
        }
      }

      &:hover .cases__item-design-imgwrap {
        overflow: auto;
      }
    }


    &:hover &-design {
      opacity: 1;
      transition: opacity 2s ease;
      pointer-events: auto;
    }

    &:hover &-logo {
      opacity: 0;
      transition: opacity 1s ease;
    }

    @keyframes slide-mask {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 0 100%;
      }
    }
  }
  &__about{
    font-family: var(--font-fam);
    font-size: var(--font-min);
    margin-bottom: 30px;
    position: relative;
    align-items: start;
  }
}


