.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.hero__container-main {
  margin: 0 96px;
  margin-top: 216px;
  display: grid;
  padding: 0;
  height: 65vh;
}
.hero__title {
  pointer-events: none;
  font-family: var(--font-fam);
  font-size: var(--font-normal);
  align-self: flex-start;
  position: relative;
  background: linear-gradient(90deg, #FFFFFF 0%, #FFA96A 25%, #FFFFFF 50%, #FFA96A 75%, #FFFFFF 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3.5s linear infinite;
}
.hero__subtitle {
  pointer-events: none;
  font-family: var(--font-fam2);
  font-size: 32px;
  font-weight: lighter;
  position: relative;
  align-self: flex-start;
  background: linear-gradient(90deg, #FFFFFF 0%, #FFA96A 25%, #FFFFFF 50%, #FFA96A 75%, #FFFFFF 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3.5s linear infinite;
}
.hero__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-fam);
  font-size: 16px;
  align-self: flex-start;
  position: relative;
  width: 222px;
  height: 100px;
}
.hero__cta-img {
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 222px;
  height: 100px;
  pointer-events: none;
}
.hero__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  align-self: end;
  font-family: var(--font-fam);
  font-size: var(--font-min);
}
.hero__footer-copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #FFFFFF 0%, #FFA96A 25%, #FFFFFF 50%, #FFA96A 75%, #FFFFFF 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3.5s linear infinite;
}
.hero__footer-links {
  display: flex;
  gap: 108px;
  position: relative;
}
.hero__footer-details {
  position: relative;
  transition: all 0.3s ease;
}
.hero__footer-details:hover {
  color: #ff984d;
  transform: translateY(-2px);
  text-shadow: 0 0 8px rgb(255, 169, 106);
}

.hero__footer-link {
  transition: all 0.3s ease;
}

.hero__footer-link:hover {
  color: #ff984d;
  transform: translateY(-2px);
  text-shadow: 0 0 8px rgb(255, 169, 106);
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}
@media (max-width: 1919px) {
  .hero__container-main {
    margin: 170px 66px;
  }
  .hero__subtitle {
    font-size: 28px;
  }
  .hero__footer-links {
    gap: 90px;
  }
}
@media (max-height: 1079px) {
  .hero__container-main {
    margin: 130px 66px;
  }
}
@media (max-width: 1441px) {
  .hero__container-main {
    margin: 160px 66px;
  }
  .hero__footer-links {
    gap: 40px;
  }
}
@media (max-width: 1262px) {
  .hero__container {
    gap: 40px;
  }
  .hero__container-main {
    margin: 130px 66px;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__subtitle {
    font-size: 28px;
  }
  .hero__footer {
    margin-top: 70px;
  }
  .hero__footer-links {
    gap: 40px;
  }
}
@media (max-height: 800px) {
  .hero__container {
    gap: 30px;
  }
  .hero__container-main {
    margin: 100px 66px 100px 66px;
  }
  .hero__footer {
    margin-top: 70px;
  }
}
@media (width: 1440px) and (height: 932px) {
  .hero__footer {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=hero.css.map */
