.hero{
  margin-top: 160px;
  margin-bottom: 0;
  padding: 0;

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    font-size: var(--font-medium);
    align-self: center;
    text-align: center;
    position: relative;
    width: 650px;
  }

  &__cta{
    font-size: 24px;
    margin: 188px 0 100px 0;
    position: relative;
    width: 222px;
    height: 100px;

    &-img{
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: end;


    &-copyright{
      margin-left: 9%;
      position: relative;
    }

    &-links{
      display: flex;
      gap: 108px;
      position: relative;
    }

    &-details{
      position: relative;
    }
  }
}