.hero{
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &-main{
      margin: 200px 96px;
      display: grid;
      padding: 0;
      height: 65vh;
    }
  }

  &__title{
    pointer-events: none;
    font-family: var(--font-fam);
    font-size: var(--font-normal);
    align-self: flex-start;
    position: relative;

    background: linear-gradient(
      90deg,
      #FFFFFF 0%,
      #FFA96A 25%,
      #FFFFFF 50%,
      #FFA96A 75%,
      #FFFFFF 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3.5s linear infinite;
  }


  &__subtitle{
    pointer-events: none;
    font-family: var(--font-fam2);
    font-size: 32px;
    font-weight: lighter;
    position: relative;
    align-self: flex-start;
    background: linear-gradient(
      90deg,
      #FFFFFF 0%,
      #FFA96A 25%,
      #FFFFFF 50%,
      #FFA96A 75%,
      #FFFFFF 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3.5s linear infinite;
  }

  &__cta{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-fam);
    font-size: 16px;
    align-self: flex-start;
    position: relative;
    width: 222px;
    height: 100px;


    &-img{
      top: 0;
      left: 0;
      position: absolute;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      width: 222px;
      height: 100px;
      pointer-events: none;
    }
  }

  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    align-self: end;
    font-family: var(--font-fam);
    font-size: var(--font-min);

    &-copyright{

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(
                      90deg,
                      #FFFFFF 0%,
                      #FFA96A 25%,
                      #FFFFFF 50%,
                      #FFA96A 75%,
                      #FFFFFF 100%
      );
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 3.5s linear infinite;
    }

    &-links{
      display: flex;
      gap: 108px;
      position: relative;
    }


    &-details{
      position: relative;
      transition: all 0.3s ease;
    }
    &-details:hover{
      color: #ff984d;
      transform: translateY(-2px);
      text-shadow: 0 0 8px rgb(255, 169, 106);
    }
  }
}

.hero__footer-link{
  transition: all 0.3s ease;
}

.hero__footer-link:hover{
  color: #ff984d;
  transform: translateY(-2px);
  text-shadow: 0 0 8px rgb(255, 169, 106);
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}


@media (max-width: 1919px) {
  .hero{
    &__container{
      &-main{
        margin: 170px 66px;
      }
    }

    &__subtitle{
      font-size: 28px;
    }

    &__footer{
      &-links{
        gap: 90px;
      }
    }
  }
}

@media (max-width: 1441px) {
  .hero{
    &__container{
      &-main{
        margin: 160px 66px;
      }
    }

    &__footer{
      &-links{
        gap: 40px;
      }
    }
  }
}


@media (max-width: 1023px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}
