@import 'hero.css';
@import 'services.css';
@import 'cases.css';
@import 'about.css';

.hero, .services, .cases, .about {
    height: 100vh !important;
    margin: 0px 0 0px 0 !important;
    box-sizing: border-box !important;
    position: relative;
    scroll-snap-align: start;  /* Или center, если хотите центрировать секцию в viewport */
    scroll-snap-stop: always;  /* Добавьте это — предотвращает пропуск секций при быстром скролле */
}

.mainPage {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: scroll-position;
}

.services, .cases, .about{
    height: 100vh !important;
    margin: 0 96px !important;
}

.hero{
    padding-top: 30px;
}

.services{
    padding-top: 30px;
}

.about{
    padding-top: 30px;
}

@media (max-width: 1919px) {
    .services, .cases {
        margin: 0 66px !important;
    }
}


@media (max-width: 768px){
    .about{
        margin: 0 16px !important;
    }
}

