.footer{
  scroll-snap-align: start;
  position: relative;
  bottom: 30px;
  margin:0 96px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
  font-family: var(--font-fam);
  z-index: 10;
  height: 96px;
  width: 1728px;

  &__bee{
    justify-self: left;
    margin-left: 14px;
    margin-bottom: 12.32px;
  }

  &__year{
    font-size: 20px;
  }

  &__socials{
    justify-self: right;
    display: grid;
    grid-template-areas:"inst behance"
                        "youtube telegram"
                        "vk pinterest";
    grid-column-gap: 83px;
  }

}

.inst{
  grid-area: inst;
}

.youtube{
  grid-area: youtube;
}

.vk{
  grid-area: vk;
}

.behance{
  grid-area: behance;
  text-align: right;
}

.telegram{
  grid-area: telegram;
  text-align: right;
}

.pinterest{
  grid-area: pinterest;
  text-align: right;
}

#leftWing{
  transition: transform 0.3s;
}

@media (max-width: 1919px) {
  .footer{

  }
}

