.footer{
  scroll-snap-align: start;
  position: relative;
  margin-bottom: 30px;
  margin-left: 96px;
  margin-right: 96px;
  display: grid;
  align-items: end;
  font-family: var(--font-fam);
  grid-template-columns: 1fr auto 1fr;
  z-index: 1;
  height: 96px;
  grid-template-areas: "logo year socials";

  &__bee{
    justify-self: left;
    grid-area: logo;
  }

  &__year{
    font-size: 20px;
    grid-area: year;
  }

  &__socials{
    justify-self: right;
    display: grid;
    grid-template-areas:"inst behance"
                        "youtube telegram"
                        "vk pinterest";
    grid-column-gap: 83px;
    grid-area: socials;
  }

}

.inst{
  grid-area: inst;
}

.youtube{
  grid-area: youtube;
}

.vk{
  grid-area: vk;
}

.behance{
  grid-area: behance;
  text-align: right;
}

.telegram{
  grid-area: telegram;
  text-align: right;
}

.pinterest{
  grid-area: pinterest;
  text-align: right;
}

#leftWing{
  transition: transform 0.3s;
}

@media (max-width: 1919px) {
  .footer{

  }
}

@media (max-width: 767px) {
  .footer{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 15px;
    font-size: 12px;
    height: 123px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "socials socials"
                          "logo year";

    &__bee{
      width: 50.85px;
      height: 53px;
    }

    &__year{
      font-size: 16px;
      text-align: end;
    }

    &__socials{
      grid-row-gap: 10px;
      grid-template-columns: 75px 75px;
      grid-column-gap: 0;
    }
  }
}
