.header{
  margin:0 96px 0px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-fam);
  grid-template-areas: "nav logo menu";

  &__nav__list{
    display: flex;
    justify-content: space-between;
    padding-right: clamp(5px, 5vw, 80px);
    grid-area: nav;

    &-item{
      color: white;
      font-size: 24px;
      position: relative;
      transition: all 0.3s ease;
    }
    &-item:hover{
      color: #ff984d;
      transform: translateY(-2px);
      text-shadow: 0 0 8px rgb(255, 169, 106);
    }
    &-item::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0.5px;
      background: #FF7514;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }
    &-item:hover::after{
      width: 100%;
    }
  }

  &__logo{
    pointer-events: none;
    justify-self: center;
    z-index: 2;
    grid-area: logo;
  }

  &__menu{
    align-self: center;
    grid-area: menu;
    width: 26px;
  }

  &__cta{
    justify-self: right;
    width: 240px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 10;

    &-title{
      position: absolute;
      font-size: 24px;
      color: #000;
    }
  }
}


@media (max-width: 1919px) {
  .header{
    margin: 30px 66px;
    &__nav__list{
      &-item{
        font-size: 22px;
      }
    }

    &__cta{
      &-title{
        font-size: 22px;
      }

      &-img{
        width: 90%;
      }
    }
  }
}

@media (max-width: 1441px) {
  .header{
    margin: 30px 66px;
    &__nav__list{
      &-item{
        font-size: 20px;
      }
    }

    &__logo{
      width: 75%;
    }

    &__cta{
      &-title{
        font-size: 20px;
      }

      &-img{
        width: 85%;
      }
    }
  }
}


/* Планшеты (768px - 1023px) */
@media (max-width: 1023px) {

}

/* Мобильные (480px - 767px) */
@media (max-width: 430px) {
    .header{
      margin: 0 16px 0 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 398px;

      &__logo{
        max-width: 132px;
        justify-self: center;
      }

      &__menu{
        justify-self: end;
      }
    }
}

