:root {
  --font-big: 64px;
  --font-medium: 48px;
  --font-normal: 36px;
  --font-min: 20px;
  --font-fam: "Unbounded", sans-serif;
  --font-fam2: "Manrope", sans-serif;
}

/* Планшеты (1024px - 1919px) */
@media (max-width: 1919px) {
  :root {
    --font-big: 56px;
    --font-medium: 42px;
    --font-normal: 32px;
    --font-min: 18px;
  }
}

/* Планшеты (768px - 1023px) */
@media (max-width: 1023px) {
  :root {
    --font-big: 48px;
    --font-medium: 36px;
    --font-normal: 28px;
    --font-min: 18px;
  }
}

/* Мобильные (480px - 767px) */
@media (max-width: 767px) {
  :root {
    --font-big: 40px;
    --font-medium: 32px;
    --font-normal: 24px;
    --font-min: 16px;
  }
}

/* Маленькие мобильные (до 479px) */
@media (max-width: 479px) {
  :root {
    --font-big: 32px;
    --font-medium: 28px;
    --font-normal: 20px;
    --font-min: 16px;
  }
}