.application__main {
  margin: 30px 96px;
}
.application__privacy {
  display: flex;
  justify-content: center;
  grid-area: privacy;
}
.application__privacy-policy {
  height: 19px;
  font-family: var(--font-fam2);
  font-size: 13px;
  margin-top: 13px;
  color: #898887;
}
.application__privacy-policy a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
.application__title {
  font-family: var(--font-fam);
  font-size: 96px;
  text-transform: uppercase;
  margin-top: 62px;
}
.application__form-button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  grid-area: button-main;
  align-self: center;
  margin-top: 28px;
}
.application__form-button-main-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.application__form-button-main-title {
  position: absolute;
  z-index: 3;
  font-family: var(--font-fam);
  font-size: 24px;
  color: black;
}
.application__form-file_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 240px;
  grid-area: button-file;
  margin-top: 24px;
}
.application__form-file_button-input {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 240px;
  height: 74px;
  cursor: pointer;
}
.application__form-file_button-title {
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: var(--font-fam);
}
.application__form-question {
  width: 998px;
  height: 40px;
  grid-area: question;
  font-family: var(--font-fam);
  font-size: 36px;
  text-transform: lowercase;
  font-weight: 300;
}
.application__form-question-2 {
  height: 40px;
  font-family: var(--font-fam);
  margin-top: 24px;
  font-size: 36px;
  text-transform: lowercase;
  font-weight: 300;
  grid-area: question-2;
}
.application__form-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.application__form-container-grid {
  display: grid;
  grid-template-areas: "question question" "text text" "button-file button-file" "question-2 question-2" "subname company" "email phone" "url url" "privacy privacy" "button-main button-main";
  grid-template-columns: repeat(2, 1fr);
}
.application__form-input {
  margin-top: 30px;
  border-bottom: 2px solid white;
  height: 40px;
  color: white;
  font-family: var(--font-fam2);
  font-size: 24px;
  grid-area: text;
}
.application__form-input::placeholder {
  font-family: var(--font-fam2);
  font-size: 24px;
  color: white;
}
.application__form-input-2 {
  width: 448px;
  height: 40px;
  border-bottom: 2px solid white;
  color: white;
  font-family: var(--font-fam2);
  font-size: 24px;
}
.application__form-input-2::placeholder {
  color: white;
  font-family: var(--font-fam2);
  font-size: 24px;
}
.application__form-input-3 {
  margin-top: 42px;
  border-bottom: 2px solid white;
  width: 998px;
  height: 40px;
  color: white;
  font-family: var(--font-fam2);
  font-size: 24px;
  grid-area: url;
}
.application__form-input-3::placeholder {
  color: white;
  font-family: var(--font-fam2);
  font-size: 24px;
}

.subname {
  grid-area: subname;
  margin-top: 30px;
  margin-bottom: 42px;
}

.company {
  grid-area: company;
  margin-top: 30px;
  margin-bottom: 42px;
  margin-left: 50px;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
  margin-left: 50px;
}

.error {
  padding: 10px;
  position: absolute;
  border: 2px solid #A91111;
  font-size: 14px;
  font-family: var(--font-fam2);
}
.error__task-description {
  margin-top: 61px;
  margin-left: 568px;
}
.error__fullname {
  margin-top: 289px;
  margin-left: 107px;
}
.error__company-name {
  margin-top: 289px;
  margin-left: 676px;
}
.error__email {
  width: 374px;
  height: 39px;
  margin-top: 375px;
  margin-left: 73px;
}
.error__phone-number {
  margin-top: 371px;
  margin-left: 711px;
}
.error__site-url {
  margin-top: 453px;
  margin-left: 564px;
}

/*# sourceMappingURL=application.css.map */
