.application{
  padding-top: 30px;
  &__main{
    margin: 62px 96px 0 96px;
    flex-direction: column;
    &-title{
      font-size: 96px;
      font-family: var(--font-fam);
      text-transform: uppercase;
    }

    &-form{
      margin-top: -2px;
      display: flex;
      justify-content: end;
      &-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  "task task"
                              "task-input task-input"
                              "file-button file-button"
                              "contact contact"
                              "name company"
                              "email phone"
                              "url url"
                              "privacy privacy"
                              "main-button main-button";
        width: 998px;

        &-input{
          grid-area: task-input;
          border-bottom: 2px solid #FFFFFF;
          width: 998px;
          height: 40px;
          margin-bottom: 24px;


          &::placeholder{
            color: #FFFFFF;
            font-size: 24px;
            font-family: var(--font-fam2);
          }

          &-question{
            font-size: 36px;
            font-family: var(--font-fam);
            text-transform: lowercase;
            font-weight: 300;
            margin-bottom: 30px;
            height: 40px;
           }

          &-2{
            border-bottom: 2px solid #FFFFFF;
            width: 448px;
            height: 40px;
            margin-bottom: 42px;

            &::placeholder{
              color: #FFFFFF;
              font-size: 24px;
              font-family: var(--font-fam2);
            }
          }
        }

        &-file_button{
          grid-area: file-button;
          width: 240px;
          height: 74px;
          position: relative;
          margin-bottom: 24px;

          &-input{
            position: absolute;
            opacity: 0;
            width: 240px;
            height: 74px;
          }

          &-img{
            position: absolute;
          }

          &-title{
            position: absolute;
            z-index: 1;
            color: black;
            font-family: var(--font-fam);
            font-size: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
          }
        }

        &-privacy{
          grid-area: privacy;
          justify-self: center;
          width: fit-content;
          margin-bottom: 28px;

          &-title{
            font-size: 13px;
            color: #898887;
            font-family: var(--font-fam2);
            height: fit-content;
            &-link{
              color: white;
              text-decoration: underline !important;
            }
          }
        }

        &-button-main{
          grid-area: main-button;
          position: relative;
          height: 100px;

          &-img{
            position: absolute;
            top: 0;
            left: 0;
          }

          &-title{
            position: absolute;
            color: black;
            font-size: 24px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.name{
  grid-area: name;
}

.company{
  grid-area: company;
  justify-self: end;
}

.email{
  grid-area: email;
}

.phone{
 grid-area: phone;
  justify-self: end;
}

.url{
 grid-area: url;
  margin-bottom: 13px;
}

.contact{
  grid-area: contact;
}

.task{
  grid-area: task;
}

.error{
  position: absolute;
  opacity: 0;
}