.slider{
  position: relative;
  margin-top: 130px;
  &__button{
    position: relative;
    top: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    transform: translateY(-50%);
    z-index:999;
  }

  .prev{
    margin-left: -30px;
    height: 41px;
  }

  .next{
    right:-40px;
    height: 41px;
  }

  &__container{
    width: 100%;

    &-item{
      display: flex;
      align-items: center;

    }
  }
}

.right-arrow{
  rotate: 180deg;
}


