.slider{
  position: relative;
  height: 606px;
  overflow: hidden;

  &__button{
    position: absolute;

    top: 50%;
    left:0;
    height: 41px;
    transform: translateY(-50%);
    font-size: 40px;
    z-index:999;
    width: 100%;

    .prev{
      position: absolute;
      left: -30px;
      height: 41px;
    }

    .next{
      position: absolute;
      right: -30px;
      height: 41px;
      transform: rotate(180deg);
    }

  }

    &-item{
      display: flex;

  }
}

