@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import './styles/variables.css';
@import './styles/reset.css';
@import './styles/header.css';
@import './styles/mainPage/mainPage.css';
@import './styles/animations/sota.css';
@import './styles/application_page/application.css';
@import './styles/footer.css';

body{
    background-color: #14110F;
    color: white;
    margin: 0;
}




